@font-face {
  font-family: 'TT Lakes', sans-serif;
  src: url(../font/TTLakes-Bold.ttf)
  format("truetype");
font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'TT Lakes',sans-serif;
  font-weight: 500;
  src: url(/font/TTLakesCompressed-Regular.ttf)
  format("truetype");
}
@font-face {
  font-family: 'TT Lakes',sans-serif;
  font-weight: 400;
  src: url(/font/TTLakesCondensed-Thin.ttf);
}