.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  gap: 16px;
  padding-left: 16px;
}

.slides {
  display: flex;
  transition: transform 0.3s ease;
  will-change: transform;
  gap: 16px;
}

.slide {
  min-width: 240px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);

  height: 72px;
}
.slider_text {
  font-family: "TT Lakes";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: rgba(126, 126, 130, 1);
  padding-left: 16px;
}
.slider-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.swiper__pagination {
  position: relative;
  width: calc(100% + 32px);
  margin-left: -16px;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 0;
  margin-top: 16px;
}

.custom-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(221, 221, 221, 1);
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-bullet--active {
  background-color: rgba(181, 182, 188, 1);
}
.slide:nth-child(3),
.slide:nth-child(6) {
  display: flex;
  gap: 108px;
}
.show-more {
  display: none;
}

@media (min-width: 768px) and (max-width: 1120px) {
  .show-more {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 15px;
  }
  .show-more-btn {border: none;
    background: none;
    font-family: "TT Lakes";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

  .slides {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    grid-template-rows: repeat(2, auto);
    gap:  16px 24px;
    justify-content: center;
  }
  .slides .slide:nth-child(7),
  .slides .slide:nth-child(8) {
    display: none;
  }
  .slider{padding-left: 24px;
  gap: 24px ;}
  .slider_text{padding-left: 24px;}
  .slider-wrapper{gap: 24px;}
}
